{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block head %}ABM de roles<br>{% endblock %}
{% block content %}
{% if mod_rol %}
{% if mensaje %}
	<p>Se ha producido el siguiente inconveniente:</p>
	<p>{{mensaje}}</p>
	<input type="button" value="Volver" onClick = "location.href='/roles' "/>
{% else %}
	<form id="form_id" action="" method="post">
		<table>
		{{ form.as_table }}
		</table>
	<input type="submit" value="Guardar" />
	<input type="button" value="Cancelar" onClick = "location.href='/roles' "/>
	</form>
{% endif %}
{% else %}
<P>¡No tiene permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock%}

