{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block head %}Modificar &lt;{{rol.nombre}}&gt;<br>{% endblock %}
{% block content %}
{% if mod_rol %}
{% if mensaje %}
	<p>Se ha producido el siguiente inconveniente:</p>
	<p>{{mensaje}}</p>
	<input type="button" value="Volver" onClick = "location.href='/roles' "/>
{% else %}
	<table class="abm">
	<form id="form_id" action="" method="post">
		{{ form.as_table }}
	<tr><td class="buttonlist" colspan="2">
	<input type="submit" value="Guardar" />
	{% ifequal rol.categoria 1 %}
	<input type="button" value="Cancelar" onClick = "location.href='/roles/sist' "/>
	{% else %}
	<input type="button" value="Cancelar" onClick = "location.href='/roles/proy' "/>
	{% endifequal %}</td>
	</tr>
	</form>
	</table>
{% endif %}
{% else %}
<P>¡No tiene permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock%}

