{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block head %}Roles<br>{% endblock %}
{% block content %}
<h3>Roles de Sistema</h3>
<hr/>	
	<table>
	<tr>
	<td class="titulo">Nombre</td>
	<td class="titulo">Descripci&oacute;n</td>
	<td class="titulo">Creado el:</td>
	<td class="titulo">Responsable</td>
	<td class="titulo">Acciones</td>
	</tr>
	{%for item in lista1%}
		<tr>
		<td><a href="/roles/mod/{{item.id}}/">{{item.nombre}}</a></td>
		<td>{{item.descripcion}}</td>
		<td>{{item.fecHor_creacion}}</td>
		<td>{{item.usuario_creador}}</td>
		<td><a href="/roles/del/{{item.id}}/">Borrar</a> <a href="/roles/permisos&id={{item.id}}">Establecer permisos</a></td>
		</tr>
	{% endfor %}
	</table>
<h3>Roles de Proyecto</h3>
<hr/>
	<table>
	<tr>
	<td class="titulo">Nombre</td>
	<td class="titulo">Descripci&oacute;n</td>
	<td class="titulo">Creado el:</td>
	<td class="titulo">Responsable</td>
	<td class="titulo">Acciones</td>
	</tr>
	{%for item in lista2%}
		<tr>
		<td><a href="/roles/mod/{{item.id}}/">{{item.nombre}}</a></td>
		<td>{{item.descripcion}}</td>
		<td>{{item.fecHor_creacion}}</td>
		<td>{{item.usuario_creador}}</td>
		<td><a href="/roles/del/{{item.id}}/">Borrar</a> <a href="/roles/permisos&id={{item.id}}">Establecer permisos</a></td>
		</tr>
	{% endfor %}
	</table>
	<div class="footer"><a href="/roles/crear/">Crear un nuevo rol</a></div>
{% endblock %}
