{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block head %}Roles<br>{% endblock %}
{% block content %}
{% if ver_roles or crear_rol or mod_rol or eliminar_rol %}
<ul>
<li><a href="/roles/sist/">Roles de Sistema</a></li>
<li><a href="/roles/proy/">Roles de Proyecto</a></li>
<li>{% if crear_rol %}<a href="/roles/crear/">Crear un nuevo rol</a></div>{% endif %}</li>
</ul>
<div class="footer"><div class="volver"><a href="/">&lt;&lt;Volver a la p&aacute;gina principal</a></div>
{% else %}
	<p>¡No tiene permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock %}
