{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block head %}Roles<br>{% endblock %}
{% block content %}
{% if ver_roles or crear_rol or mod_rol or eliminar_rol %}
<h2>Roles de Sistema</h2>
	<form action="" method="post">
	<table class="admin">
	<tr><td colspan="4">{{form.filtro.label}}: {{form.filtro}}</td><td align="right">{{form.paginas.label}}: {{form.paginas}}  <input type="submit" value="Ok" name="Buscar"/></td></tr>
	<tr>
	<td class="titulo">Nombre</td>
	<td class="titulo">Descripci&oacute;n</td>
	<td class="titulo">Creado el:</td>
	<td class="titulo">Responsable</td>
	<td class="titulo">Acciones</td>
	</tr>
	{%for item in pag.object_list%}
		<tr>
		{% ifnotequal item.id 1 %}{% if mod_rol %}<td><a href="/roles/mod&id={{item.id}}/">{{item.nombre}}</a></td>{% else %}<td>{{item.nombre}}</td>{% endif %}{% else %}<td>{{item.nombre}}</td>{% endifnotequal %}
		<td>{{item.descripcion}}</td>
		<td>{{item.fecHor_creacion}}</td>
		<td>{{item.usuario_creador}}</td>
		<td>{% ifnotequal item.id 1 %}{% if eliminar_rol%}<a href="/roles/del&id={{item.id}}/">Borrar</a> | {% endif %}{% if mod_rol %}<a href="/roles/permisos&id={{item.id}}">Establecer permisos</a>{% endif %}{% endifnotequal %}</td>
		</tr>
	{% endfor %}
	<tr><td>P&aacute;gina {{ pag.number }} de {{ pag.paginator.num_pages }}.</td><td colspan="3">{% if pag.has_previous %}<a href="?page={{ pag.previous_page_number }}">&lt;&lt;anterior</a>{% endif %}{% if pag.has_next %}<a href="?page={{ pag.next_page_number }}"> siguiente&gt;&gt;</a>{% endif %}</td></tr>
	</table></form>
<div class="footer"><div class="volver"><a href="/roles/">&lt;&lt;Volver a Roles</a></div>{% if ver_roles %}<a href="/report/roles=1/"> Obtener reporte</a>{% endif %}</div>
{% else %}
	<p>¡No tiene permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock %}
