{% extends "base.html" %}
{% block title %}Tipo de artefacto{% endblock %}
{% block head %}Tipo de artefacto<br>{% endblock %}
{% block content %}
{% if ver_tipos_artefacto or crear_tipo_artefacto or mod_tipo_artefacto or eliminar_tipo_artefacto %}
	<table>
	<tr>
	<td class="titulo">Abreviatura</td>
	<td class="titulo">Nombre</td>
	<td class="titulo">Fase</td>
	<td class="titulo">Acciones</td>
	</tr>
	{%for item in lista%}
		<tr>
		{% if mod_tipo_artefacto %}<td><a href="/tipo_artefacto/mod&id={{item.id}}/">{{item.nombre}}</a></td>
		{% else %}<td>{{item.nombre}}</td>{% endif %}
		<td>{{item.descripcion}}</td>
		<td>{{item.fase}}</td>
		{% if eliminar_tipo_artefacto  %}<td><a href="/tipo_artefacto/del&id={{item.id}}/">Borrar</a></td>{% endif %}
		</tr>
	{% endfor %}
	</table>
	{% if crear_tipo_artefacto %}<div class="footer"><a href="/tipo_artefacto/crear/">Crear un nuevo tipo de artefacto</a></div>{% endif %}
{% else %}
	<p>¡No tiene permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock %}
