{% extends "base.html" %}
{% block title %}Fases Anteriores{% endblock %}
{% block head %}{% if fin %}Artefactos de {{proyecto.nombre}}{% else %}Artefactos de Fases Anteriores{% endif %}<br>{% endblock %}
{% block content %}
{% if abm_artefactos %}
<h2>Fase de Analisis de requerimientos</h2>
<table>
	<tr>
		<td class="titulo">Nombre</td>        
        <td class="titulo">Versi&oacute;n</td>
		<td class="titulo">Complejidad</td>
		<td class="titulo">Descripci&oacute;n Corta</td>
		<td class="titulo">Descripci&oacute;n Larga</td>		
		<td class="titulo">Icono</td>		
        <td class="titulo">Tipo</td>
        <td class="titulo">Acciones</td>
	</tr>

    {% for item in lista1 %}
	<tr>
		<td>{{item.nombre}}</td>
        <td>{{item.version}}</td>        
		<td>{{item.complejidad}}</td>
		<td>{{item.descripcion_corta}}</td>
		<td>{{item.descripcion_larga}}</td>
		<td>{{item.icono}}</td>	
        <td>{{item.tipo}}</td>
        <td><a href="/proyectos/artefactos&id={{proyecto.id}}/historial&id={{item.id}}/">| Historial</a><a href="/proyectos/artefactos&id={{proyecto.id}}/verrel&id={{item.id}}&fase={{item.fase.id}}/">| Relaciones con la misma fase</a><a href="">| Adjuntos</a><a href="/proyectos/artefactos&id={{proyecto.id}}/imp&id={{item.id}}/">| Impacto</a></td>
	</tr>
	{% endfor %}
</table>
{% ifequal proyecto.fase.id 3%}
<h2>Fase de Disenho</h2>
<table>
    <tr>
		<td class="titulo">Nombre</td>        
        <td class="titulo">Versi&oacute;n</td>
		<td class="titulo">Complejidad</td>
		<td class="titulo">Descripci&oacute;n Corta</td>
		<td class="titulo">Descripci&oacute;n Larga</td>		
		<td class="titulo">Icono</td>		
        <td class="titulo">Tipo</td>
        <td class="titulo">Acciones</td>
	</tr>
    {% for item in lista2 %}
	<tr>
		<td>{{item.nombre}}</td>
        <td>{{item.version}}</td>        
		<td>{{item.complejidad}}</td>
		<td>{{item.descripcion_corta}}</td>
		<td>{{item.descripcion_larga}}</td>
		<td>{{item.icono}}</td>	
       	<td>{{item.tipo}}</td>
        <td><a href="/proyectos/artefactos&id={{proyecto.id}}/historial&id={{item.id}}/">| Historial</a><a href="/proyectos/artefactos&id={{proyecto.id}}/verrel&id={{item.id}}&fase={{item.fase.id}}/">| Relaciones con la misma fase</a><a href="/proyectos/artefactos&id={{proyecto.id}}/verrel&id={{item.id}}&fase={{item.fase.id|add:"-1" }}/">| Relaciones con la fase anterior</a><a href="">| Adjuntos</a><a href=" ">| Impacto</a></td>
	</tr>
	{% endfor %}
</table>
{% endifequal %}

{% if fin %}
<h2>Fase de Implementacion</h2>
<table>
    <tr>
		<td class="titulo">Nombre</td>        
        <td class="titulo">Versi&oacute;n</td>
		<td class="titulo">Complejidad</td>
		<td class="titulo">Descripci&oacute;n Corta</td>
		<td class="titulo">Descripci&oacute;n Larga</td>		
		<td class="titulo">Icono</td>		
        <td class="titulo">Tipo</td>
        <td class="titulo">Acciones</td>
	</tr>
    {% for item in lista3 %}
	<tr>
		<td>{{item.nombre}}</td>
        <td>{{item.version}}</td>        
		<td>{{item.complejidad}}</td>
		<td>{{item.descripcion_corta}}</td>
		<td>{{item.descripcion_larga}}</td>
		<td>{{item.icono}}</td>	
       	<td>{{item.tipo}}</td>
        <td><a href="/proyectos/artefactos&id={{proyecto.id}}/historial&id={{item.id}}/">| Historial</a><a href="/proyectos/artefactos&id={{proyecto.id}}/verrel&id={{item.id}}&fase={{item.fase.id}}/">| Relaciones con la misma fase</a><a href="/proyectos/artefactos&id={{proyecto.id}}/verrel&id={{item.id}}&fase={{item.fase.id|add:"-1" }}/">| Relaciones con la fase anterior</a><a href="">| Adjuntos</a><a href=" ">| Impacto</a></td>
	</tr>
	{% endfor %}
</table>
{% endif %}

{% else %}
    <p>¡No tiene permisos para ver esta p&aacute;gina!</p>
    <input type="button" value="Aceptar" onClick = "location.href='/proyectos/artefactos&id={{proyecto.id}}/' "/>	
{% endif %}
{% if fin %}
    <input type="button" value="<< Volver" onClick = "location.href='/proyectos/admin&id={{proyecto.id}}' "/>	
{% else %}
    <input type="button" value="<< Volver" onClick = "location.href='/proyectos/artefactos&id={{proyecto.id}}/' "/>	
{%endif%}
{% endblock%}
