{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Adjuntos de &lt;{{art.nombre}}&gt; en la version &lt;{{ registro.version }}&gt;<br>{% endblock %}
{% block content %}
{% if abm_artefactos %}
<ul>  
{% if lista %}

    {% for item in lista %}
    <li><a href = "/proyectos/artefactos&id={{proyecto.id}}/adj&id={{art.id}}/get&id={{item.id}}/">{{item.nombre}}</a></li>
    {% endfor %}
{% else %}
    <li>No se registran adjuntos en esta version</li>
{% endif %}
</ul>
<input type="button" value="Volver" onClick = "location.href='/proyectos/artefactos&id={{proyecto.id}}/historial&id={{art.id}}/' "/>

{% else %}
	<p>¡No tiene los permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock %}
