{% extends "base.html" %}
{% block title %}Artefactos{% endblock %}
{% block head %}Modificar nuevo artefacto<br>{% endblock %}
{% block content %}
<form enctype="multipart/form-data" id="form_id" action="/proyectos/artefactos/{{proyecto.id}}/mod/{{art.id}}/" method="post">
	<p>Nombre: {{ nombre }}</p>
    <p>{{ form.complejidad.errors }}<label for="id_complejidad">Complejidad:</label>{{ form.complejidad }}</p>
    <p>{{ form.descripcion_corta.errors }}<label for="id_descripcion_corta">Descripci&oacute;n Corta:</label>{{ form.descripcion_corta }}</p>
	<p>{{ form.descripcion_larga.errors }}<label for="id_descripcion_larga">Descripci&oacute;n Larga:</label>{{ form.descripcion_larga }}</p>
	<p>{{ form.icono.errors }}<label for="id_icono">Icono:</label>{{ form.icono }}</p>
	<p>{{ form.tipo.errors }}<label for="id_tipo">Tipo:</label>{{ form.tipo }}</p>
<input type="submit" value="Guardar" />
<input type="button" value="Cancelar" onClick = "location.href='/proyectos/artefactos/{{proyecto.id}}/' "/>
</form>
{% endblock%}
