{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Detalle del artefacto &lt;{{art.nombre}}&gt;<br>{% endblock %}
{% block content %}
{% if ver_artefactos %}
  <table class="art-inf">
<form id="form_id" action="" method="post">
<tr><th>Nombre:</th><td>{{ art.nombre }}</td></tr>
<tr><th>Versi&oacute;n:</th><td>{{ art.version }}</td></tr>
<tr><th>Complejidad:</th><td>{{ art.complejidad }}</td></tr>
<tr><th>Descripci&oacute;n Corta:</th><td>{{ art.descripcion_corta }}</td></tr>
<tr><th>Descripci&oacute;n Larga:</th><td>{{ art.descripcion_larga }}</td></tr>
<tr><th>Tipo:</th><td>{{ art.tipo }}</td></tr>
{% ifequal art.fase.id 1%}
<tr><th>Relaciones-Analisis </th>
    <td><p>Padres</p>
        <ul>{% for item in padres %}
                {% ifequal item.fase.id 1%}
                    <li>{{item.nombre}}</li>
                {% endifequal %}
            {% endfor %}</ul>
     
        <p>Hijos</p>
        <ul>{% for item in hijos %}
                {% ifequal item.fase.id 1%}
                    <li>{{item.nombre}}</li>
                {% endifequal %}
            {% endfor %}</ul></td></tr>
<tr><th>Relaciones-Diseno </th>
    <td><ul>{% for item in hijos %}
                {% ifequal item.fase.id 2%}
                    <li>{{item.nombre}}</li>
                {% endifequal %}
            {% endfor %}</ul></td></tr>
<tr><th>Relaciones-Implementacion </th>
        <td><ul>{% for item in hijos %}
                {% ifequal item.fase.id 3%}
                    <li>{{item.nombre}}</li>
                {% endifequal %}
            {% endfor %}</ul></td></tr>
{% endifequal %}

{% ifequal art.fase.id 2%}
<tr><th>Relaciones-Analisis </th>
    <td><ul>{% for item in padres %}
                {% ifequal item.fase.id 1%}
                    <li>{{item.nombre}}</li>
                {% endifequal %}
            {% endfor %}</ul></td></tr>

<tr><th>Relaciones-Diseno </th>
    <td><p>Padres:</p>
        <ul>{% for item in padres %}
                {% ifequal item.fase.id 2%}
                    <li>{{item.nombre}}</li>
                {% endifequal %}
            {% endfor %}</ul>
        
        <p>Hijos:</p>
        <ul>{% for item in hijos %}
                {% ifequal item.fase.id 2%}
                    <li>{{item.nombre}}</li>
                {% endifequal %}
            {% endfor %}</ul></td></tr>
<tr><th>Relaciones-Implementacion </th>
    <td>
        <ul>{% for item in hijos %}
                {% ifequal item.fase.id 3%}
                    <li>{{item.nombre}}</li>
                {% endifequal %}
            {% endfor %}</ul>

{% endifequal %}

{% ifequal art.fase.id 3%}
<tr><th>Relaciones-Analisis </th>
    <td><ul>{% for item in padres %}
                {% ifequal item.fase.id 1%}
                    <li>{{item.nombre}}</li>
                {% endifequal %}
            {% endfor %}</ul></td></tr>

<tr><th>Relaciones-Diseno </th>
    <td><ul>{% for item in padres %}
                {% ifequal item.fase.id 2%}
                    <li>{{item.nombre}}</li>
                {% endifequal %}
            {% endfor %}</ul></td></tr>

<tr><th>Relaciones-Implementacion </th>
        <td><p>Padres:</p>
        <ul>{% for item in padres %}
                {% ifequal item.fase.id 3%}
                    <li>{{item.nombre}}</li>
                {% endifequal %}
            {% endfor %}</ul>
     
        <p>Hijos:</p>
        <ul>{% for item in hijos %}
                {% ifequal item.fase.id 3%}
                    <li>{{item.nombre}}</li>
                {% endifequal %}
            {% endfor %}</ul></td></tr>
{% endifequal %}


<tr><th>Adjuntos:</th>
    <td><ul>{% for item in archivos %}
                <li><a href = "/proyectos/artefactos&id={{proyecto.id}}/adj&id={{art.id}}/get&id={{item.id}}/">{{item.nombre}}</a></li>
        	{% empty %}
        		<li>No tiene adjuntos</li>
            {% endfor %}</ul></td></tr>
	<tr><td colspan="2" class="buttonlist" style="border:none;">
    <input type="button" value="Volver" onClick = "location.href='/proyectos/artefactos&id={{proyecto.id}}&fasesAnt={{art.fase.id}}/' "/></td></tr>
</form>
</table>


{% else %}
    <p> No tiene permiso para ver el detalle del artefacto</p>
{% endif %}
{% endblock%}
