{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}Usuarios<br>{% endblock %}
{% block content %}
	<table>
	<tr>
	<td class="titulo">Usuario</td>
	<td class="titulo">Nombre</td>
	<td class="titulo">Apellido</td>
	<td class="titulo">Acciones</td>
	</tr>
	{%for item in lista%}
		<tr>
		<td><a href="/usuarios/mod/{{item.id}}/">{{item.username}}</a></td>
		<td>{{item.first_name}}</td>
		<td>{{item.last_name}}</td>
		<td><a href="/usuarios/del/{{item.id}}/">Borrar</a></td>
		</tr>
	{% endfor %}
	</table>
	<div class="footer"><a href="/usuarios/crear/">Crear un nuevo usuario</a></div>
{% endblock %}
