{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block head %}Establecer permisos para {{rol.nombre}}<br>{% endblock %}
{% block content %}
{% if mod_rol %}
	{% ifequal rol.categoria 1 %}
	<table class="abm">
	<form id="form_id" action="" method="post">
		{{ form.as_table }}
	<tr><td class="buttonlist" colspan="2">
	<input type="submit" value="OK" />
	<input type="button" value="Cancelar" onClick = "location.href='/roles' "/></td>
	</tr>
	</form>
	</table>
	{% else %}
		algo
	{% endifequal %}
{% else %}
	<p>¡No posee los permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock %}
