{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}Roles de sistema de {{usuario.username}}<br>{% endblock %}
{% block content %}
{% if asignar_roles %}
{% if mensaje %}
	<p>Se ha producido el siguiente inconveniente:</p>
	<p>{{mensaje}}</p>
{% else %}
	<form id="form_id" action="" method="post">
		<table>
		{{ form.as_table }}
		</table>
	<input type="submit" value="Guardar" />
	<input type="button" value="Cancelar" onClick = "location.href='/usuarios' "/>
	</form>
{% endif %}
{% else %}
	<p>¡No tiene permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock%}

