{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}Usuarios<br>{% endblock %}
{% block content %}
	<table>
	<tr>
	<td class="titulo">Usuario</td>
	<td class="titulo">Nombre</td>
	<td class="titulo">Apellido</td>
	<td class="titulo">Acciones</td>
	</tr>
	{%for item in lista%}
		<tr>
		<td><a href="/usuarios/mod&id={{item.id}}/">{{item.username}}</a></td>
		<td>{{item.first_name}}</td>
		<td>{{item.last_name}}</td>
		{% ifequal item.id 1 %}<td>Superusuario</td>
		{% else %}<td>{% ifnotequal item.username user.username %}<a href="/usuarios/del&id={{item.id}}/">Borrar</a>{% endifnotequal %}  <a href="/usuarios/rol&id={{item.id}}/">Asignar roles de sistema</a></td>
		{% endifequal %}
		</tr>
	{% endfor %}
	</table>
	<p></p>
	<div class="footer"><a href="/usuarios/crear/">Crear un nuevo usuario</a></div>
{% endblock %}
