{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}Usuarios<br>{% endblock %}
{% block content %}
{% if ver_usuarios or crear_usuario or mod_usuario or eliminar_usuario or asignar_roles%}
	<table>
	<tr>
	<td class="titulo">Usuario</td>
	<td class="titulo">Nombre</td>
	<td class="titulo">Apellido</td>
	<td class="titulo">Acciones</td>
	</tr>
	{%for item in lista%}
		<tr>
		{% if mod_usuario %}<td><a href="/usuarios/mod&id={{item.id}}/">{{item.username}}</a></td>
		{% else %}<td>{{item.username}}</td>{% endif %}
		<td>{{item.first_name}}</td>
		<td>{{item.last_name}}</td>
		{% ifequal item.id 1 %}
			<td>Superusuario</td>
		{% else %}
		{% ifnotequal item.username user.username %}
		<td>{% if eliminar_usuario %}<a href="/usuarios/del&id={{item.id}}/">Borrar</a> {% endif %}{% if asignar_roles %}<a href="/usuarios/rol&id={{item.id}}/">Asignar roles de sistema</a>{% endif %}</td>
			{% endifnotequal %}
		{% endifequal %}
		</tr>
	{% endfor %}
	</table>
	<p></p>
	{% if crear_usuario %}<div class="footer"><a href="/usuarios/crear/">Crear un nuevo usuario</a></div>{% endif %}
{% else %}
	<p>No tiene permisos para esta secci&oacute;n</p>
{% endif %}
{% endblock %}
