{% extends "base.html" %}
{% block title %}{{proyecto.nombre}}{% endblock %}
{% block head %}Gesti&oacute;n de linea Base<br>{% endblock %}
{% block content %}
{% if lineabase %}
{% if msg %}
    <p>{{msg}}</p>{% if fin %}<a href="/report/proyectos/artefactos&id={{proyecto.id}}/">Obtener reporte</a>{% endif %}
    

<ul>
    {% if lista %}
    <li><p><strong>Existen artefactos pendientes de aprobacion...</strong><a href="/proyectos/lineabase&id={{proyecto.id}}/revisar/">mas detalles>></a></p></li>
    {% endif %}

    {% if lista1 %}
    <li><p><strong>Existen artefactos no relacionados con la fase anterior...</strong><a href="/proyectos/lineabase&id={{proyecto.id}}/relacionar/">mas detalles>></a></p></li>
    {% endif %}

    {% if lista2 %}
    <li><p><strong>Existen artefactos de la fase anterior que no han sido referenciados...</strong><a href="/proyectos/lineabase&id={{proyecto.id}}/anteriores/">mas detalles>></a></p></li>
    {% endif %}

{% else %}
    <p>La linea base de la fase de <strong>{{fase}}</strong> se ha creado con exito</p>

{% endif %}

</ul>


<input type="button" value="Aceptar" onClick = "location.href='/proyectos/admin&id={{proyecto.id}}/'"/>

{% else %}
    <p>¡No tiene permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock%}
