{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Artefactos pendientes de aprobacion<br>{% endblock %}
{% block content %}
{% if revisar_artefacto %}

{% if lista %}
<form action="" method="post">
	<table class="admin">
	<tr><td colspan="6">{{form.filtro.label}}: {{form.filtro}}</td><td align="right">{{form.paginas.label}}: {{form.paginas}}<input type="submit" value="Ok" name="Buscar"/></td></tr>
	<tr>
		<td class="titulo">Nombre</td>        
		<td class="titulo">Versi&oacute;n</td>
		<td class="titulo">Estado</td>		
		<td class="titulo">Complejidad</td>
		<td class="titulo">Descripci&oacute;n Corta</td>
		<td class="titulo">Tipo</td>
		<td class="titulo">Acci&oacute;n</td>
	</tr>
	{% for item in pag.object_list %}
	<tr>
	    <td>{{item.nombre}}</td>
		<td>{{item.version}}</td>
		<td>{{item.estado}}</td>        
		<td>{{item.complejidad}}</td>
		<td>{{item.descripcion_corta}}</td>		
		<td>{{item.tipo}}</td>
		<td><a href="/proyectos/lineabase&id={{proyecto.id}}/revisar&id={{item.id}}/" >Revisar</a></td>
	</tr>
	{% endfor %}
<tr><td>P&aacute;gina {{ pag.number }} de {{ pag.paginator.num_pages }}.</td><td colspan="3">{% if pag.has_previous %}<a href="?page={{ pag.previous_page_number }}">&lt;&lt;anterior</a>{% endif %}{% if pag.has_next %}<a href="?page={{ pag.next_page_number }}"> siguiente&gt;&gt;</a>{% endif %}
</td></tr>
</table></form>
{% else %}
    <p>Todos los artefactos han sido aprobados</p>
{% endif %}

<input type="button" value="Volver" onClick = "location.href='/proyectos/lineabase&id={{proyecto.id}}/'"/>
{% else %}
	<p>¡No tiene permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock %}
