{% extends "base.html" %}
{% block title %}Artefactos{% endblock %}
{% block head %}Modificar el artefacto {{ art.nombre }}<br>{% endblock %}
{% block content %}
{% if abm_artefactos %}
<table class="abm">
	<form enctype="multipart/form-data" id="form_id" action="/proyectos/artefactos&id={{proyecto.id}}/mod&id={{art.id}}/" method="post">
		{{form.as_table}}
		<tr><td colspan="2" class="buttonlist">
		<input type="submit" value="Guardar" />
		<input type="button" value="Cancelar" onClick = "location.href='/proyectos/artefactos&id={{proyecto.id}}/' "/></td>
		</tr>
	</form>
</table>
{% else %}
	<p>¡No tiene permisos para ver esta p&aacute;gina!</p>
    <input type="button" value="Aceptar" onClick = "location.href='/proyectos/artefactos&id={{proyecto.id}}/' "/>
{% endif %}
{% endblock%}
