{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Relaciones de &lt;{{art.nombre}}&gt;<br>{% endblock %}
{% block content %}
{% if abm_artefactos %}
<ul>   
    {% for item in lista %}
    <li> {{ item.nombre }} </li>
    {% endfor %}
</ul>
<input type="button" value="Volver" onClick = "location.href='/proyectos/artefactos&id={{ proyecto.id }}/fasesAnt/' "/>

{% else %}
	<p>¡No tiene los permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock %}
