{% extends "base.html" %}
{% block title %}P&aacute;gina Principal{% endblock %}
{% block head %}<center>Sistema de Administraci&oacute;n de Items de Proyecto</center>{% endblock %}
{% block content %}
  {% if user.username %}
    <div class="bienvenida">¡Bienvenido/a, {{ user.username }}!</div>
	<h2>Administraci&oacute;n del Sistema</h2>
	<ul>
	<li><a href ="/usuarios/">Usuarios</a></li>
	<li><a href ="/proyectos/">Proyectos</a></li>
	<li><a href ="/roles/">Roles</a></li>
	<li><a href ="/tipo_artefacto/">Tipos de artefacto</a></li>
	</ul>
	<h2>Proyectos</h2>
	<ul>
	{% for proyecto in proyectos %}
		<li><a href="/proyectos/admin&id={{proyecto.id}}/">{{proyecto.nombre}}</li>
	{% empty %}
		<li>No hay proyectos.</li>
	{% endfor %}
	</ul>
  {% else %}
    <p>Bienvenido, visitante.</p>
    <p>Puedes iniciar sesi&oacute;n <a href="/login/">aqu&iacute;</a>.</p>
  {% endif %}
{% endblock %}
