{% extends "base.html" %}
{% block title %}Proyectos{% endblock %}
{% block head %}Proyectos<br>{% endblock %}
{% block content %}
{% if ver_proyectos or crear_proyecto or mod_proyecto or eliminar_proyecto %}
<form action="" method="post">
	<table class="admin">
	<tr><td colspan="3">{{form.filtro.label}}: {{form.filtro}}</td><td align="right">{{form.paginas.label}}: {{form.paginas}}  <input type="submit" value="Ok" name="Buscar"/></td></tr>
	<tr>
	<td class="titulo">Nombre</td>
	<td class="titulo">Usuario L&iacute;der</td>
	<td class="titulo">Descripci&oacute;n</td>
	<td class="titulo">Fecha Inicio</td>
	<td class="titulo">Fecha Fin</td>
	<td class="titulo">Adjuntos</td>
	<td class="titulo">Acciones</td>
	</tr>
	{%for item in pag.object_list%}
		<tr>
		{% if mod_proyecto %}<td><a href="/proyectos/mod&id={{item.id}}/">{{item.nombre}}</a></td>
		{% else %}<td>{{item.nombre}}</td>{% endif %}
		<td>{{item.usuario_lider}}</td>
		<td>{{item.descripcion}}</td>
		<td>{{item.fecha_inicio}}</td>
		<td>{{item.fecha_fin}}</td>
		<td>{{item.cronograma}}</td>
		{% if eliminar_proyecto %}<td><a href="/proyectos/del&id={{item.id}}/">Borrar</a></td>
		{% else %}<td></td>{% endif %}
		</tr>
	{% endfor %}
<tr><td>P&aacute;gina {{ pag.number }} de {{ pag.paginator.num_pages }}.</td><td colspan="3">{% if pag.has_previous %}<a href="?page={{ pag.previous_page_number }}">&lt;&lt;anterior</a>{% endif %}{% if pag.has_next %}<a href="?page={{ pag.next_page_number }}"> siguiente&gt;&gt;</a>{% endif %}
</td></tr>
	</table></form>
	{% if crear_proyecto %}<div class="footer"><div class="volver"><a href="/">&lt;&lt;Volver a la p&aacute;gina principal</a></div><a href="/proyectos/crear/">Crear un nuevo proyecto</a></div>{% endif %}
{% else %}
	<p>¡No posee los permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock %}
