{% extends "base.html" %}
{% block title %}Proyectos{% endblock %}
{% block head %}Proyectos<br>{% endblock %}
{% block content %}
	<table>
	<tr>
	<td class="titulo">Nombre</td>
	<td class="titulo">Usuario L&iacute;der</td>
	<td class="titulo">Descripci&oacute;n</td>
	<td class="titulo">Fecha Inicio</td>
	<td class="titulo">Fecha Fin</td>
	<td class="titulo">Adjuntos</td>
	<td class="titulo">Acciones</td>
	</tr>
	{%for item in lista%}
		<tr>
		<td><a href="/proyectos/mod/{{item.id}}/">{{item.nombre}}</a></td>
		<td>{{item.usuario_lider}}</td>
		<td>{{item.descripcion}}</td>
		<td>{{item.fecha_inicio}}</td>
		<td>{{item.fecha_fin}}</td>
		<td>{{item.cronograma}}</td>
		<td><a href="/proyectos/del/{{item.id}}/">Borrar</a></td>
		</tr>
	{% endfor %}
	</table>
	<div class="footer"><a href="/proyectos/crear/">Crear un nuevo proyecto</a></div>
{% endblock %}
