{% extends "base.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}
{% block head %}Aprobaci&oacute;n del artefacto &lt;{{art.nombre}}&gt;<br>{% endblock %}
{% block content %}
{% if revisar_artefacto %}
<table class="art-inf">
<form id="form_id" action="" method="post">
<tr><th>Nombre:</th><td>{{ art.nombre }}</td></tr>
<tr><th>Versi&oacute;n:</th><td>{{ art.version }}</td></tr>
<tr><th>Complejidad:</th><td>{{ art.complejidad }}</td></tr>
<tr><th>Descripci&oacute;n Corta:</th><td>{{ art.descripcion_corta }}</td></tr>
<tr><th>Descripci&oacute;n Larga:</th><td>{{ art.descripcion_larga }}</td></tr>
<tr><th>Tipo:</th><td>{{ art.tipo }}</td></tr>
<tr><th>Icono:</th><td>{{ art.icono }}</td></tr>
<tr><th>Relaciones:</th>
    <td><ul>{% for item in relaciones %}
        <li>{{item.padre.nombre}}</li>
	{% empty %}
		<li>No tiene relaciones</li>
    {% endfor %}</ul></td></tr>
<tr><th>Adjuntos:</th>
    <td><ul>{% for item in archivos %}
        <li>{{item.nombre}}</li>
	{% empty %}
		<li>No tiene adjuntos</li>
    {% endfor %}</ul></td></tr>
	<tr><td colspan="2" class="buttonlist" style="border:none;">
    <input type="submit" value="Aprobar artefacto" />
    <input type="button" value="Volver" onClick = "location.href='/proyectos/lineabase&id={{proyecto.id}}/revisar/'"/></td></tr>
</form>
</table>
{% else %}
    <p> No tiene permiso para modificar el estado del artefacto, solo el lider puede hacerlo </p>
{% endif %}
{% endblock%}
