{% extends "base.html" %}
{% block title %}Proyectos{% endblock %}
{% block head %}Cambiar fase: {{lista.proyecto.nombre}}<br>{% endblock %}
{% block content %}
{% if asignar_tipoArt %}
  <form id="form_id" action="" method="post">
    <table>
    {{form.as_table}}
    </table><br>
    <input type="submit" value="Guardar" />
    <input type="button" value="Cancelar" onClick = "location.href='/proyectos/tipoArtefacto&id={{proyecto.id}}' "/>
</form>
{% else %}
  <P>¡No tiene permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock%}