{% extends "base.html" %}
{% block title %}{{proyecto.nombre}}{% endblock %}
{% block head %}Tipo de artefactos por fase para {{proyecto.nombre}}<br>{% endblock %}
{% block content %}
{% if asignar_tipoArt %}
    <table>
      <tr><td class="titulo">Tipo de artefacto</td>
	  <td class="titulo">Fase actual</td>
	  <td class="titulo">Acciones</td>
      </tr>
      {% for item in lista %}
	<tr><td>{{item.tipo_artefacto.descripcion}}</td>
	    <td>{{item.fase.nombre}}</td>
	    <td><a href="/proyectos/mod_tipoArtefacto_fase&id={{item.proyecto.id}}/{{item.tipo_artefacto.id}}/">Modificar fase </a>
		<a href="/proyectos/quitar_tipoArtefacto_fase&id={{item.proyecto.id}}/{{item.tipo_artefacto.id}}/">| Quitar</a>
	    </td>
	</tr>
      {% endfor %}
    </table>
    <br><a href="/proyectos/add_tipoArtefacto_fase&id={{proyecto.id}}/">Agregar nuevo tipo de artefacto</a>
    <br><br><input type="button" value="Volver" onClick = "location.href='/proyectos/admin&id={{proyecto.id}}/' "/>
{% else %}
  <P>¡No tiene permisos para ver esta p&aacute;gina!</p>
{% endif %}
{% endblock%}
